<%- include("partials/header.ejs") %>
<video autoplay muted loop id="background-video">
  <source src="/public/images/Batman SLow Glowing Logo Live Wallpaper.mp4" type="video/mp4">
</video>
<style>
  @media (max-width: 768px) {
      #background-video{
          display: none;
      }
      body{
          background: url(/public/images/batman\ logo.jpg);
          background-size: cover;
      }
  }
</style>
<% if (locals.post) { %>
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Your post is:</h5>
      <p id="edit" class="card-text"> <%= post %></p>
      <button type="submit" id="edit-button" class="btn btn-primary">Edit Post</button>
      <button type="submit" id="end-editing" class="btn btn-primary">Done</button>
      <button type="submit" onclick="deletePost()" class="btn btn-primary">Delete Post</button>
      <%} else {%>
      <p id="edit" class="card-text"></p>
      <% } %>
    <script>
      let userPost;
      const paragraph = document.getElementById("edit");
      const edit_button = document.getElementById("edit-button");
      const end_button = document.getElementById("end-editing");

      edit_button.addEventListener("click", function() {
        paragraph.contentEditable = true;
        paragraph.style.background = "rgba(255, 255, 255, 0.548)";
      } );

      end_button.addEventListener("click", function() {
        paragraph.contentEditable = false;
        paragraph.style.background = "transparent";
      });

      function deletePost(){
        document.getElementById("edit").innerHTML = "";
      }
    </script>
  </div>
</div>
<%- include("partials/footer.ejs") %>