<html lang="en" class="h-100" data-bs-theme="dark"><head><script src="/docs/5.3/assets/js/color-modes.js"></script>
<%- include("partials/header.ejs") %>
    <video autoplay muted loop id="background-video">
        <source src="/public/images/Animated Video Background - Saber Lighting Frame for Edits - Background video effects.mp4" type="video/mp4">
    </video>
    <div class="blog-links position-absolute top-50 start-50 translate-middle">
    <div class="welcome-container">
        <h1>Welcome</h1>
        <p>
            Select a topic to read more on:
        </p>
    </div>
      <div class="container px-4 py-5 " id="featured-3">
        <div class="row text-center">
            <div class="col-md-3">
            <div class="icon-shield sw-icon">
                <i class="fa-solid fa-jedi"></i>
            </div>
            <h2>Star Wars</h2>
            <a href="/starwarsblogpage" class="blog-link sw-btn">View Galaxy</a>
        </div>
         <div class="col-md-3">
            <div class="icon-shield car-icon">
                <i class="fa-solid fa-gauge-high"></i>
            </div>
            <h2>Cars</h2>
            <a href="/carsblogpage" class="blog-link car-btn">Start Engines</a>
        </div>
          
        <div class="col-md-3">
            <div class="icon-shield batman-icon">
                <i class="fa-solid fa-mask"></i>
            </div>
            <h2>Batman</h2>
            <a href="/batmanblogpage" class="blog-link batman-btn">Enter Cave</a>
        </div>

          <div class="col-md-3">
        <div class="icon-shield tech-icon">
            <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="15" x2="23" y2="15"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="15" x2="4" y2="15"></line></svg>
        </div>
        <h2>Technology</h2>
        <a href="/techblogpage" class="blog-link tech-btn">Access Nexus</a>
        </div>
        </div>
      </div>
</div>
<%- include("partials/footer.ejs") %>